h2 {
	/* Changes the font and color of the header */
	font-family: 'Courier New', Courier, monospace;
	color: red;
}

p {
	/* Changes color and italic */
	font-style: italic;
	color: blue;
}

/* unordered list bullet type */
ul.rome {
	list-style-type: lower-roman;
}

ul.square {
	list-style-type: square;
}